.products {
  .item {
    cursor: pointer;

    .card {
      text-decoration: none;
      color: #171717;

      &:hover{
        background-color: rgba(249,249,249,0.95);
      }

      .card-img-top {
        width: fit-content;
        height: 150px;
        max-width: 100%;
        margin: auto;
      }

      .card-body {
        position: relative;

        .card-title {
          font-size: 18px;
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          line-clamp: 2;
          -webkit-box-orient: vertical;
          color: #1d1d1d;
        }

        .card-text {
          cursor: pointer;
          text-decoration: none;
          font-size: 14px;
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          line-clamp: 2;
          -webkit-box-orient: vertical;
          color: #0241ff;
        }

        .item-footer {
          margin-top: 5px;
          border-top: 1px solid #ddd;
          font-size: 13px;
          margin-bottom: -13px;

          span {
            vertical-align: middle;
          }

          svg {
            margin-right: 3px;
          }

          .rate {
            padding: 5px;
            text-align: left;
          }

          .price {
            padding: 5px;
            text-align: right;
          }
        }
      }
    }
  }

  .moreBtn {
    cursor: pointer;
  }

  &.skeleton {
    h5:empty, p:empty, a:empty, img, span:empty, div:empty {
      animation: loading 1.7s infinite linear;
      background: #dedfe1;
      background-image: -webkit-linear-gradient(to right, #dedfe1 0%, #f2f3f5 20%, #dedfe1 40%, #dedfe1 100%);
      background-image: linear-gradient(to right, #dedfe1 0%, #f2f3f5 20%, #dedfe1 40%, #dedfe1 100%);
      background-repeat: no-repeat;
    }

    .item {

      .card {
        .card-img-top {
          border: none !important;
          border-radius: 0;
          width: 100%;
          height: 150px;
        }

        .card-body {
          .card-title {
            height: 20px;
          }

          .card-text {
            height: 18px;
          }

          .item-footer {
            display: flex;
            .rate, .price {
              height: 16px;
              width: 50%;
              margin: 5px;
            }
          }
        }
      }
    }

    .moreBtn {
      height: 20px;
    }

    @keyframes loading {
      0% {
        background-position: -100px;
      }

      100% {
        background-position: 200px;
      }
    }
  }
}